*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.DS_Store
ANTLR4/.DS_Store
Lecture-Notes/_region_.prv
Lecture-Notes/formal-languages.synctex.gz
Lecture-Notes/dhbw-logo-eps-converted-to.pdf
Lecture-Notes/Abbildungen/exercise-13-eps-converted-to.pdf
Lecture-Notes/Abbildungen/ambiguous-a-eps-converted-to.pdf
Lecture-Notes/Abbildungen/ambiguous-b-eps-converted-to.pdf
Lecture-Notes/Abbildungen/parse-tree-eps-converted-to.pdf
Lecture-Notes/Abbildungen/cc-LALR-eps-converted-to.pdf
Lecture-Notes/Abbildungen/cc-LR-eps-converted-to.pdf
JFlex/Klausur/Note.java
JFlex/Html2Text/Converter/Html2Txt.java
JFlex/Count/count/Count.java
JFlex/Decomment/Decomment.java
Cup/*/Yylex.java
Cup/*/parser.java
Cup/*/sym.java
formal-languages.prv
Probe-Klausur/_region_.prv/*
SetlX/dfa-old.dot
SetlX/dfa-old.eps
SetlX/nfa.dot
SetlX/nfa.eps
SetlX/dfa.dot
SetlX/dfa.eps
SetlX/fsm1.dot
SetlX/fsm1.eps
SetlX/fsm2.dot
SetlX/fsm2.eps
SetlX/fsm3.dot
SetlX/fsm3.eps
SetlX/fsm4.dot
SetlX/fsm4.eps
SetlX/min-dfa.dot
SetlX/min-dfa.eps
ANTLR4/PureExprParser/Expr.tokens
ANTLR4/PureExprParser/ExprBaseListener.java
ANTLR4/PureExprParser/ExprLexer.java
ANTLR4/PureExprParser/ExprLexer.tokens
ANTLR4/PureExprParser/ExprListener.java
ANTLR4/PureExprParser/ExprParser.java
ANTLR4/PureParser/Program.tokens
ANTLR4/PureParser/ProgramBaseListener.java
ANTLR4/PureParser/ProgramLexer.java
ANTLR4/PureParser/ProgramLexer.tokens
ANTLR4/PureParser/ProgramListener.java
ANTLR4/PureParser/ProgramParser.java
/ANTLR4/Interpreter/Pure.tokens
/ANTLR4/Interpreter/PureBaseListener.java
/ANTLR4/Interpreter/PureLexer.java
/ANTLR4/Interpreter/PureLexer.tokens
/ANTLR4/Interpreter/PureListener.java
/ANTLR4/Interpreter/PureParser.java
/ANTLR4/Interpreter/Simple.tokens
/ANTLR4/Interpreter/SimpleBaseListener.java
/ANTLR4/Interpreter/SimpleLexer.java
/ANTLR4/Interpreter/SimpleLexer.tokens
/ANTLR4/Interpreter/SimpleListener.java
/ANTLR4/Interpreter/SimpleParser.java
/Cup/Calculator/ExprParser.java
/Cup/Calculator/ExprParserSym.java
/Cup/Calculator/conflicts.txt
/Cup/DanglingBrace/Dangling.java
/Cup/DanglingBrace/DanglingSym.java
/Cup/DanglingElse/Dangling.java
/Cup/DanglingElse/DanglingSym.java
/Cup/DanglingMatched/Dangling.java
/Cup/DanglingMatched/DanglingSym.java
/Cup/DanglingOperator/Dangling.java
/Cup/DanglingOperator/DanglingSym.java
/Cup/LookAheadConflict/LookAhead.java
/Cup/LookAheadConflict/LookAheadSym.java
Cup/MysteriousConflict/Mysterious.java
Cup/MysteriousConflict/MysteriousSym.java
Cup/Compiler-Jasmin/Examples/MySum.jas
Cup/Compiler-Jasmin/IntegerCParser.java
Cup/Compiler-Jasmin/IntegerCParserSym.java
