*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.DS_Store
ANTLR4/.DS_Store
Lecture-Notes/_region_.prv
Lecture-Notes/formal-languages.synctex.gz
JFlex/Klausur/Note.java
