*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.DS_Store
ANTLR4/.DS_Store
Lecture-Notes/_region_.prv
Lecture-Notes/formal-languages.synctex.gz
Lecture-Notes/dhbw-logo-eps-converted-to.pdf
JFlex/Klausur/Note.java
JFlex/Html2Text/Converter/Html2Txt.java
Cup/*/Yylex.java
Cup/*/parser.java
Cup/*/sym.java
formal-languages.prv
Probe-Klausur/_region_.prv/*
SetlX/nfa.dot
SetlX/nfa.eps
SetlX/dfa.dot
SetlX/dfa.eps
JFlex/Decomment/Decomment.java
SetlX/fsm1.dot
SetlX/fsm1.eps
SetlX/fsm2.dot
SetlX/fsm2.eps
SetlX/fsm3.dot
SetlX/fsm3.eps
SetlX/fsm4.dot
SetlX/fsm4.eps
